<% if user_signed_in? %>
<div class="hero-unit">
<h1>Welcome <% :name %>to your member page!</h1>
<p>
Future content will go here
</p>


<% else %>

<div class="hero-unit">
<h1>Welcome to One Month Rails!</h1>
<p>
<p>
	You've found the page for the
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> 
	 application.
</p>

<p>
<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>
</div>

<% end %>